$bege-claro: #edece4;
$bege-medio: #cbc6b9;
$bege-escuro: #988c77;
$cinza: #2a2426;
$verde: #1ab912;

$fonte-1: 'PT Mono', monospace;
$fonte-2: 'Aref Ruqaa', serif;

@function rem($pixel, $contexto: 16) {
    @return ($pixel / $contexto) + rem
}


@mixin tipo-1($size) {
    font-family: $fonte-1;
    font-size: rem($size);
    line-height: rem(30, 18);
}

@mixin tipo-2($size) {
    font-family: $fonte-2;
    font-size: rem($size);
    line-height: rem(30, 18);
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
}

.testando {
    @include tipo-2(18)
}